parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - ./src
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        -
            identifier: trait.unused
            path: src/Log/LoggerAwareTrait.php
